<!DOCTYPE html>
<html>
  <head>
    <title>Textbook Market</title>
    <style>
        h1, h3   {text-align: center}
        p   {text-align: center}
        /* The navbar container */
        .topnav {
            overflow: hidden;
            background-color: #333;
        }

        /* Navbar links */
        .topnav a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        /* Links - change color on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }
        .topnav input[type=text] {
            float: right;
            padding: 6px;
            border: none;
            margin-top: 8px;
            margin-right: 12px;
            font-size: 17px;
        }
    </style>
  </head>
  <body>
          <div class="topnav">
              <a href="/marketplace">Home</a>
              <a href="/postText">Post</a>
              <% if(User.admin) { %>
                <a href="/reports">Reports</a>
              <% } %>
              <a href="/logout">Logout</a>
            <form id = "searchForm" action="/marketplace">
              <div class="search">
                <input id ="search-bar" type="text" name="Search" placeholder="Search for Textbook..." action="/marketplace" method="get">
              </div>
            </form> 
          </div>

          <h3>You are submitting a report on the post of <%= Textbook.title %> by <%= Seller.username %> </h3>
        
        <form id="reportForm" action="/createReport" method="post" style="text-align: center">
          <input type="hidden" name="textbook" value="<%= Textbook.title %>">
          <input type="hidden" name="seller" value="<%= Seller.username %>">
          <input type="hidden" name="buyer" value="<%= User.username %>">
          <input type="text" id="description" name="description" placeholder="Please Descibe the Issue You Experienced with this Post" style=" height: 80%; width: 80%"> <br>
          <input type="submit" value="Submit Report">
        </form>
  </body>
</html>
