<!doctype html>
<html>
  <head>
    <title>Textbook Marketplace_ Report Page</title>

    <style>
        h1   {text-align: center}
        p   {text-align: center}
        th   {text-align: left}
        /* The navbar container */
        .topnav {
            overflow: hidden;
            background-color: #333;
        }
        .topnav a {
          float: left;
          display: block;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        /* Links - change color on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }
        .topnav input[type=text] {
            float: right;
            padding: 6px;
            border: none;
            margin-top: 8px;
            margin-right: 12px;
            font-size: 17px;
        }

        th {
          text-align: center;
        }

        table, td {
          border: 1px solid black;
        }
    </style>
  </head>
  <body>
    <div class = "topnav">
    <a href="/marketplace">Home</a>
    <% if(User.admin) { %>
      <a href="/reports">Reports</a>
    <% } %>
    <a href="/logout">Logout</a>
    <form name="search" action="/reports" method="get">
      <input align = "right" name="search" type="text" placeholder="Search Order by reportID...">  
    </form>
    </div>   
    <h1>Your Report Page</h1>
    <table style="width:100%" align-text="left">
              <tr>
                  <th>Report ID</th>
                  <th>Textbook</th>
                  <th>Seller</th>
                  <th>Buyer</th>
                  <th>Status</th>
              </tr>
              <% for(var i = 0; i < reports.length; i++){ %>
              <tr>
                <td><%= reports[i]._id %></td>
                <td>
                  <form method="get">
                    <a href="/report?reportid=<%= reports[i]._id %>"> <%= reports[i].textbook %> </a>
                  </form>
                </td>
                <td><%= reports[i].seller %></td>
                <td><%= reports[i].buyer %></td>
                <td><%= reports[i].status %></td>
              </tr>
              <% } %>
          </table>
</body>
</html>